<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Latest Banned box -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Latest Banned</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-hover">
                                    <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Username</th>
                                        <th>Phone Number</th>
                                        <th>Id Fake</th>
                                        <th>Number of Reports</th>
                                        <th>Banned Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${bannedList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.phoneNumber}"></td>
                                        <td th:text="${user.id_fake}"></td>
                                        <td th:text="${user.reportNumber}"></td>
                                        <td th:text="${user.bannedDate}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/admin/report" class="btn btn-sm btn-default btn-flat pull-right">View All
                                Users</a>
                        </div>
                    </div>
                </div>
                <br>
                <!-- /.box -->
                <!-- Latest Report box -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Latest Report</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sender ID</th>
                                        <th>Target Id</th>
                                        <th>Message ID</th>
                                        <th>Content</th>
                                        <th>Created At</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="report : ${latestReport}">
                                        <td th:text="${report.sender_id}"></td>
                                        <td th:text="${report.target_id}"></td>
                                        <td>
                                            <a href="#" th:text="${report.message_id}"></a>
                                        </td>
                                        <td th:text="${report.content}"></td>
                                        <td th:text="${report.created_at}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/admin/report" class="btn btn-sm btn-default btn-flat pull-right">View All
                                Report</a>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
                <!-- Latest Banned box -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Top 3 reported users</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-hover">
                                    <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Username</th>
                                        <th>Reported</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${top3}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.reportNumber}"></td>
                                        <td th:text="${user.banned ? 'Banned' : 'Not Banned'}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Latest Banned box -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recent reports</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-hover">
                                    <thead>
                                    <tr>
                                        <th>Report ID</th>
                                        <th>Created At</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Iterate over reports if not empty -->
                                    <tr th:each="report : ${reviewed}" th:if="${not #lists.isEmpty(reviewed)}">
                                        <td th:text="${report.id}"></td>
                                        <td th:text="${report.created_at}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
