<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Report List
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">


            <!-- Default box -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin table-hover">
                                <thead>
                                <tr>
                                    <th>Sender Id</th>
                                    <th>Target Id</th>
                                    <th>Message Id</th>
                                    <th>Content</th>
                                    <th>Created At</th>
                                    <th>Proceeded?</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="report : ${reports}">
                                    <td th:text="${report.sender_id}"></td>
                                    <td th:text="${report.target_id}"></td>
                                    <td>
                                        <a href="#" th:text="${report.message_id}"></a>
                                    </td>
                                    <td th:text="${report.content}"></td>
                                    <td th:text="${report.created_at}"></td>
                                    <td th:text="${report.proceeded ? 'YES' : 'NO'}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>