{% extends 'myAdmin/base.html' %}

{% block content %}

{% include 'myAdmin/status.html' %}

<div class="row">
    <div class="col-md-5">
        <h5>USER ROLE:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Role</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <h5>LAST 5 REPORTS</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>UserID</th>
                    <th>Date Reported</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}